.order-details-container {
  background-color: white;
  flex-grow: 1;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 85vw;
}

.section-btn-container {
  all: unset;
  display: flex;
  margin-bottom: 16px;
}

.order-btn {
  display: flex;
  align-items: center;
  height: 40px;
  width: 130px;
  font-size: 12px;
  background-color: transparent;
  border: 2px solid rgb(181, 173, 173);
  border-radius: 4px;
  color: white;
  padding-left: 14px;
  align-self: center;
  margin-right: 10px;
}

.icon {
  font-size: 20px;
  margin-right: 6px;
  color: black;
}

.icon-txt {
  color: black;
}

.refresh-btn {
  background-color: rgb(0, 183, 255);
  border-radius: 4px;
  padding: 10px;
  height: 40px;
  width: 120px;
  border: 0;
  margin-left: auto;
  color: white;
}

.refresh {
  margin-left: 8px;
}

.table-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.table-header {
  background-color: #f2f2f2;
  height: 50px;
  display: flex;
}

.item {
  display: flex;
  align-items: center;
  width: 6%;
  margin: 10px 0;
  padding: 0px 10px;
  margin-left: 40px;
}

.item-description {
  all: unset;
  font-size: 14px;
}

.item1 {
  width: 12%;
  justify-content: flex-end;
}

.item1 input[type='checkbox'] {
  background-color: rgb(130, 123, 123) !important;
}

.item2 {
  width: 12%;
  border-right: 1px solid grey;
}

.item3 {
  width: 16%;
  border-right: 1px solid grey;
}

.item4 {
  width: 10%;
}
.item5 {
  width: 15%;
}
.item6 {
  width: 10%;
}

.item7 {
  width: 14%;
}

.item8 {
  width: 14%;
}

.table-row {
  background-color: white;
  height: 50px;
  display: flex;
  border-bottom: 1px solid grey;
  margin-bottom: 1px;
  margin-left: 10px;
}

.table-row .item p {
  font-size: 14px !important;
  opacity: 0.7;
}

.table-row .item1 {
  justify-content: space-between;
}

.table-row .item3 {
  color: rgb(0, 195, 255);
}

.table-row .item7 .item-description {
  border: 1px solid rgb(79, 125, 10);
  border-radius: 4px;
  padding: 4px;
  color: rgb(79, 125, 10);
  background-color: rgba(79, 125, 10, 0.1);
}

.table-row .item-select {
  border: 1px solid grey;
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 5px;
  border-radius: 5px;
}

.actions {
  color: black;
}

.page-change-btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.change-page-btn {
  all: unset;
  background-color: transparent;
  border: 1px solid lightgrey;
  border-radius: 4px;
  padding: 2px;
  width: 30px;
  height: 32px;
  margin-left: 10px;
}

.change-no {
  width: 35px;
  height: 35px;
  text-align: center;
  background-color: transparent;
  border: 1px solid;
  border-radius: 4px;
  padding: 5px;
  color: rgb(0, 195, 255);
  border-color: rgb(0, 195, 255);
  margin-left: 10px;
  font-size: 22px;
}

.page-count {
  height: 26px;
  text-align: center;
  background-color: transparent;
  border: 2px solid lightgrey;
  border-radius: 4px;
  padding: 5px;
  color: black;
  margin-left: 20px;
}

.page {
  margin-left: 8px;
  color: lightgrey;
}
